
<div class="layout">
    <div class="layout__column_60">
        <div class="instruction">
            <h1 class="h1">Как устроен Лин</h1>
            <p>В чем основная польза Лина. Лин — инструмент для решения быстрых рутинных задач. Наши клиенты — малый бизнес, которым нужно оперативно сделать макет, поправить и т.д. Мы осознанно не вступаем в большой дизайн — наша сила в скорости и оптимизации. Поэтому нас выбирают клиенты.</p>
            <p>Основное пожелание к дизайнерам: по возможности решать задачи проще. Там где можно использовать готовую картинку, не нужно рисовать. Оригинальность и серьезный подход вас ждет в большом дизайне. Всегда задавайте себе вопрос: как эту задачу решить еще проще, и предложите это решение клиенту.</p>
            <p>Ниже описана инструкция по работе в Лине. Изучите её прежде чем начать работу.</p>
            <h3 class="h3">Откуда берется заказ</h3>
            <p>Клиенты через мобильное приложение очень коротко описывают задачу.</p>
            <p>Задача падает ко всем свободным дизайнерам. Свободным считается дизайнер, у которого меньше 3 задач в стоке. О новой задаче дизайнер получает уведомление в приложении. В интерфейсе это выглядит так.</p>
            <h2 class="h2">Принятие задачи</h2>
            <p>Чтобы принять задачу, нажмите кнопку «Принять».</p>

            <p>Позвоните клиенту в течение 10-15 минут. Представьтесь и попросите рассказать о задаче.</p>

            <p>Не пишите в чат без лишней необходимости - это замедляет работу и уменьшает шанс что вы верно поймете задачу. Используйте чат, когда клиенту неудобно говорить или для быстрой сверки мелочей.</p>
            <h3>Понимание задачи</h3>
            <p>Под рукой держите памятку «понимание задачи». Ваша цель разобраться в задаче и заполнить понимание. Понимание задачи - обязательный этап. Только после согласования понимания, задача пойдет в работу. Понимание поможет вам понять сложность задачи. Если кажется что понимание очень маленькое - ничего страшного. Важно уточнить верно ли вы поняли клиента.</p>
            <h3>Оценка времени</h3>
            <p>После того, как клиент согласует понимание, Лин попросит вас сказать сколько времени понадобится на задачу. Речь идет о фактическом времени работы над задачей, а не о том, через сколько вы сдадите задачу. Например, визитка: 1. время на работу — 2 часа 2. сделаем визитку за день. Рядом с часами вы увидите стоимость задачи, которая покажется клиенту. Если клиент согласует оценку, задача пойдет в работу. Вам начислятся деньги за понимание задачи. Если нет, то задача уходит в архив.</p>
            <h3>Черновик</h3>
            <p>Черновик это очень быстрый этап. Вам нужно свериться с клиентом - правильно ли вы решаете задачу. Лучше на этом этапе ничего не вылизывать, а показывать грубо, если понимаете что донесете решение до клиента. Примеры черновика. Не переходите к рисованию чистовика до согласования черновиков с клиентом. Чтобы согласовать черновик выгрузите его в интерфейсе.</p>
            <h3>Чистовик</h3>
            <h3>Исходники</h3>
            <p>Задача считается закрытой только когда вы выгрузите исходники. Выгружайте в формате Jpeg (чтобы клиент мог смотреть на мобильном) и исходник (Psd\Ai\Cdr)</p>
            <h3>Оплата</h3>
            <p>Деньги мы выплачиваем раз в две недели за сделанные работы. На счет начисляются деньги по факту закрытия каждого этапа задачи.</p>
            <h3 class="h3">Вопросы</h3>
            <p>Если возникнут затруднения по работе в Лин - пишите в Telegram +79831288622</p>
            <div class="approve" [hidden]="approveHidden">

                <div class="btn btn_normal btn_l" (click)="startWork()">Активировать аккаунт</div>
            </div>
        </div>
    </div>
    <div class="layout__column_40">
        <div class="tip" [hidden]="approveHidden">
            <h3 class="tip__h3">Ваша заявка одобрена</h3>
            Мы описали важные моменты работы в Лине, изучите их и когда будете готовы - активируйте аккаунт, нажав на кнопку внизу статьи.
        </div>
    </div>

</div>












