//.header
//    h2.h2.header__h2 Лин. Дизайн
//    .login
//        a.btn.btn_s.btn_normal(routerLink='/login', routerLinkActive='active') Войти

//app-nav([homeUrl]="homePage", [subLogo]="subLogo")
.orderForm
    .description
        h1.h1.description__h1
            a.description__link Учись
            |  и&nbsp;
            a.description__link работай
            |  дизайнером


    index-new-user.form

.landing
    h2.index__h2 Этапы развития Лин-дизайнера:
    p Лин.Лакмус. Отборочный этап, который проявит ваши способности и помогает принять нам решение о допуске к работе в Лин Дизайн.
    p Лин-дизайн. Сервис, где вы приобретаете опыт и основные навыки дизайнера в работе над задачами клиентов, зарабатываете деньги. Свободный график.
    p Работа над большими проектами в дизайн-студии "Мысмаксом". Творчество, командная работа, соответствующая оплата.
    p Возможность организовать свою дизайн-студию со своей командой с настроенным потоком заказов.
