doctype html
html
  head
    meta(charset='utf-8')
    title LeanWeb
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/dropzone.css', rel='stylesheet')
    link(href='assets/css/nouislider.min.css', rel='stylesheet')
    link(rel='manifest', href='/manifest.json')

    script(src='assets/js/jquery.min.js')
    script(src='assets/js/dropzone.js')
    script(src="assets/js/custom-file-input.js")


  body
    app-root Loading...
    script(src='assets/js/jquery.maskedinput.js')
    script.
        $(function () {

            $("#phone").mask("+7 999 999 99 99");

        });


    script(src="assets/js/ba-foreach.min.js")
